@font-face {
    font-family: card;
    src: url(../fonts/card.ttf);
}

* {
    user-select: none;
    cursor: default;
}

.highlight {
    background-color: #008000;
}

.card {
    font-family: card;
    font-size: 1em;
    border: 1px solid black;
    text-align: center;
}

.pla {
    border: 1px solid black;
    text-align: center;
}

#log {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: gray;
    height: 25%;
    overflow: hidden;
}

#play {
    height: 75%;
}

#content {
    height: 40%;
    text-align: center;
    font-family: card;
    font-size: 3em;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: sans-serif;
}